{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    {% block header %}
        <h1></h1>

        {#{{ form_start(form) }}
        {{ form_row(form.CityDeparture, {'attr': {'placeholder': "Ville de depart"}}) }}
        {{ form_row(form.cityDestination, {'attr': {'placeholder': "Ville de destination"}}) }}
        {{ form_row(form.numberPlaces, {'attr': {'placeholder': "Nombres de places"}}) }}
        {{ form_end(form) }}#}

        <div class="jumbotron">
            <h5 class="display-4">En un clic, reserver votre trajet ! </h5>
            <hr class="my-4">
            <form>
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-2 m-auto">
                        {{ form_row(form.CityDeparture, {'attr': {'placeholder': "Ville de depart"}}) }}
                    </div>
                    <div class="form-group col-md-3 m-auto">
                        {{ form_row(form.cityDestination, {'attr': {'placeholder': "Ville de destination"}}) }}
                    </div>
                    <div class="form-group col-md-3 m-auto">
                        {{ form_row(form.numberPlaces, {'attr': {'placeholder': "Nombres de places"}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 m-auto">
                        {{ form_row(form.dateDeparture) }}

                    </div>
                    <div class="form-group col-md-4 m-auto">
                        {{ form_row(form.departureTime) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-lg btn-secondary" disabled> Rechercher !</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="jumbotron">
            <h5 class="display-0">Nos différents trajets</h5>
            <hr class="my-4">
            <div class="row">
                {% for trip in trips %}
                    <div class="col-sm-4 mb-3">
                        <div class="btn btn-success">
                            {{ trip.nameTrip }}
                            <span class="badge text-primary">
                                {{ trip.price }}€
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-primary float-right btn-lg m-2" href="#" role="button">Plus de trajets</a>
        </div>
    {% endblock %}
{% endblock %}